$baseWidth: 1920px;
$white: #fff;

// .form-wrapper {
//     box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.1);
//     background: $white;
//     width: 764px / $baseWidth * 100%;
//     min-width: 764px;

    
//     .header {
//         width: 100%;
//         height: 86px;
//         background-color: #094358;
//         color: $white;
//         font-family: 'Open Sans', sans-serif;
//         padding: 40px 20px;
//         border: 1px solid rgba(0,0,0,0.1);
//         border-radius: 5px;
//         z-index: 100;
//         h1 {
//             font-size: 16px;
//             font-weight: normal;
//         }
//     }
// }

.form-wrapper {
    box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    .card-header {
        background-color:rgba(45, 0, 96, 0.9);
        color: #fefefe;
    }
}