$baseWidth: 1920px;
$baseHeight: 1080px;
$white: #fff;
$blue: #094358;
$grey: #d4d9dc;

.form-wrapper {
    box-shadow: 0px 5px 20px 3px rgba(0,0,0,0.1);
    width: 764px;
    height: 642px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    .card {
        height: 100%;
        border-color: #17a2b8;
        // border-color:  rgba(0,0,0,0.1;
        border-radius: 10px;
        .card-header {
            background-color: $blue;
            color: $grey;
            height: 85px;
            h1 {
                margin: 20px 20px;
                font-size: 18px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 100;
            }
        }
        .card-body {
            padding: 2.5rem;
        }
    }
}