.thumbnails {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    cursor: pointer;
    .thumbnail {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-bottom: 5px;
        background-size: cover;
        background-position: center center;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        .circle-container {
            width: 40px;
            height:40px;
            background-color: grey;
            border-radius: 50%;
            border: 1px solid grey;
            display: flex;
            align-items: center;
            justify-content: center;
            display: none;
            pointer-events: none;
        }

        &:hover {
            box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.3);
            .circle-container {
                display: flex;
            }
        }
    }
}

