.thumbnails {
    display: flex;
    width: 510px;
    flex-wrap: wrap;
    justify-content: flex-start;
    .thumbnail {
        width: 100px;
        height: 100px;
        margin-right: 15px;
        margin-bottom: 5px;
    }

    .thumbnail > img {
        width:100%;
        height:100%;
        border-radius: 5px;
        object-fit: cover;
    }
}